.container {
    border: 0px solid white; height: 936px;
}
a {
    text-decoration: none; color: inherit; /* 기본 텍스트 색상 상속 */
}
/*앨범사진과 앨범정보들이 보이는 상단*/
.album_top {
    border: 0px solid white; width: 1393px; height: 250px; display: flex;
    position: relative; margin-left: auto; margin-right: auto;
}
/*앨범 사진 부분*/
.album_top_img {
    border: 0px solid white; width: 200px; height: 250px; display: flex;
    align-items: center;
}
.album_img {
    border: 0px solid red; width: 200px; height: 190px; border-radius: 10px;
}
.album_img img {
    width: 200px; border-radius: 10px;
}

/*앨범 정보 부분*/
.album_top_text {
    border: 0px solid white; width: 1193px; height: 250px; color: #999999;
    position: relative;
}
.album_top_text > .album_top_type {
    border: 0px solid white; display: inline-block; height: 60px; line-height: 80px;
    margin-left: 50px;
}
.album_top_text > .album_top_song_name {
    border: 0px solid white; font-size: 1.5rem; height: 30px; line-height: 30px;
    margin-left: 50px; color: white; font-weight: 10;
}
.album_top_text > .album_top_artist {
    border: 0px solid white; display: inline-block; height: 30px; line-height: 30px;
    margin-left: 50px; color: #53B426;
}
.album_top_text > .album_top_release {
    border: 0px solid white; height: 40px; line-height: 40px; margin-left: 50px;
}
.album_top_text > .album_top_release > .release{
    display: inline-block;
}
.album_top_text > .album_top_release > .date{
    display: inline-block; margin-left: 30px;
}
.album_top_text > .album_top_release > .comment{
    display: inline-block; margin-left: 700px;
}
.album_top_text > .album_top_release > .comment_count{
    display: inline-block;
}
.album_top_text > .album_top_genre {
    border: 0px solid white; height: 40px; line-height: 40px; margin-left: 50px;
    display: inline-block;
}
.album_top_text > .album_top_genre > .genre{
    display: inline-block;
}
.album_top_text > .album_top_genre > .genre_name{
    display: inline-block; margin-left: 44px;
}
.album_top_text > .album_top_genre > .hart{
    display: inline-block; margin-left: 750px;
}
.album_top_text > .album_top_genre > .hart_count{
    display: inline-block; margin-left: 11px;
}
.album_top_text > .album_top_agency {
    border: 0px solid white; height: 40px; line-height: 40px; margin-left: 50px;
}
.album_top_text > .album_top_agency > .agency{
    display: inline-block; border: 0px solid white;
}
.album_top_text > .album_top_agency > .agency_name{
    display: inline-block; margin-left: 27px;
}

/*메뉴들이 있는 부분*/
.album_menu {
    border: 0px solid white; width: 1393px; height: 70px; display: flex; justify-content: space-between;
    border-bottom: 1px solid #999999; margin-left: auto; margin-right: auto;
}
/*수록곡, 앨범상세, 댓글 메뉴버튼 ajax로 구현하기*/
.album_menu_left {
    border: 0px solid red; width: 300px; height: 70px; display: flex; justify-content: space-around; text-align: center;
    color: white; line-height: 70px; font-size: 1.2rem;
}
.album_menu_left > .album_left_song {
    border: 0px solid white; width: 100px; height: 70px; color: #04E632;
}
.album_menu_left > .album_left_detail {
    border: 0px solid white; width: 100px; height: 70px;
}
.album_menu_left > .album_left_comment {
    border: 0px solid white; width: 100px; height: 70px;
}

/*전체선택, 전체재생부분*/
.album_menu_right {
    border: 0px solid blue; width: 300px; height: 70px; display: flex; color: white; font-size: 0.8rem;
    justify-content: center; text-align: center; position: relative;
}
.album_menu_right > .album_right_select {
    border: 0px solid red; width: 90px;
}
.album_right_select_btn, .album_right_select_play {
    border: 1px solid #cccccc; position: absolute; top: 20px; width: 75px; height: 30px;
    line-height: 30px; border-radius: 70px; color: #cccccc
}
/*전체선택 hover*/ /*전체재생 hover*/
.album_right_select_btn:hover, .album_right_select_play:hover {
    color:#04E632; transition: 0.2s all;
}

/*테이블 부분*/
table.song_tb {
    border: 0px solid red; width: 1393px; max-height: 616px; position: relative;
    color: white; overflow-y: auto; margin-left: auto; margin-right: auto;
}
.head_th {
    border: 0px solid white;height: 60px; line-height: 60px; text-align: center;
}
.head_th tr {
    border-bottom: 1px solid #cccccc;
}
.body_tb {
    border: 0px solid white; height: 70px;  text-align: center;
}
.body_tb tr td {
    border-bottom: 1px solid #cccccc; height: 60px; vertical-align: middle;
}
.body_tb .artist_name_tb {
    font-size: 0.9rem; height: 30px; line-height: 30px;
}

